In [ ]:
from utils_scrape import *
import os
import pandas as pd
import numpy as np
from collections import defaultdict
import datetime

In [ ]:
%run -i keys.py

## Rankings Data

In [345]:
df_m=fetch_data(ranking_links, "https://raw.githubusercontent.com")
assert not any(df_m.player.isna())

In [346]:
df_m.loc[~df_m.ranking_date.isna(), 'ranking_date']=df_m.ranking_date.loc[~df_m.ranking_date.isna()].astype(str)

In [347]:
df_m['year_invalid']=False
df_m['month_invalid']=False
df_m['day_invalid']=False
df_m=df_m.apply(lambda x: date_cleaner(x,'ranking_date'),axis=1)

In [349]:
df_m

,ranking_date,rank,player,points,year_invalid,month_invalid,day_invalid
0,2000/01/10,1,101736,4135.0,False,False,False
1,2000/01/10,2,102338,2915.0,False,False,False
2,2000/01/10,3,101948,2419.0,False,False,False
3,2000/01/10,4,103017,2184.0,False,False,False
4,2000/01/10,5,102856,2169.0,False,False,False
...,...,...,...,...,...,...,...
3235634,2024/05/27,2070,211388,1.0,False,False,False
3235635,2024/05/27,2071,210649,1.0,False,False,False
3235636,2024/05/27,2071,208890,1.0,False,False,False
3235637,2024/05/27,2073,202079,1.0,False,False,False
3235638,2024/05/27,2073,207982,1.0,False,False,False

In [372]:
if not df_m.loc[:,['year_invalid','month_invalid','day_invalid']].any().any():
    df_m=df_m.iloc[:,:-3]

In [373]:
df_m.to_csv('csvs/atp_rankings.csv', index=False)