In [1]:
import pandas as pd
from utils_clean import *

Filtering for top 100 players only and non-challenger matches

In [19]:
dtypes={'tourney_id': str,
        'draw_size': str,
        'winner_id': 'Int64',
        'loser_id': 'Int64',
        'winner_seed':  str,
        'winner_entry': str,
        'loser_entry': str,
        'loser_seed':  str,
       }

dtypes={**dtypes,**{'W'+str(i+1):'Int64' for i in range(5)},**{'L'+str(i+1):'Int64' for i in range(5)}}
df=pd.read_csv('atp_matches_time.csv',dtype=dtypes, date_format='%Y%m%d',parse_dates=['tourney_date'])

In [20]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,W4,W5,L1,L2,L3,L4,L5,n_set,l_min,w_min
0,1992-301,Auckland,Hard,32,A,1992-01-06,1,101797,NaN,NaN,...,<NA>,<NA>,6,6,<NA>,<NA>,<NA>,2.0,NaN,0.0
1,1992-301,Auckland,Hard,32,A,1992-01-06,2,101205,NaN,NaN,...,<NA>,<NA>,3,4,<NA>,<NA>,<NA>,2.0,NaN,0.0
2,1992-301,Auckland,Hard,32,A,1992-01-06,3,101368,NaN,NaN,...,<NA>,<NA>,4,2,<NA>,<NA>,<NA>,2.0,NaN,0.0
3,1992-301,Auckland,Hard,32,A,1992-01-06,4,100772,NaN,WC,...,<NA>,<NA>,6,5,<NA>,<NA>,<NA>,2.0,NaN,0.0
4,1992-301,Auckland,Hard,32,A,1992-01-06,5,101532,4.0,NaN,...,<NA>,<NA>,4,6,3,<NA>,<NA>,3.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295042,2024-8266,Augsburg CH,Clay,32,Challenger,2024-05-20,296,109054,NaN,NaN,...,<NA>,<NA>,3,2,<NA>,<NA>,<NA>,2.0,252.0,250.0
295043,2024-8266,Augsburg CH,Clay,32,Challenger,2024-05-20,297,207608,1,NaN,...,<NA>,<NA>,6,4,<NA>,<NA>,<NA>,2.0,226.0,223.0
295044,2024-8266,Augsburg CH,Clay,32,Challenger,2024-05-20,298,209284,8,NaN,...,<NA>,<NA>,6,2,5,<NA>,<NA>,3.0,277.0,350.0
295045,2024-8266,Augsburg CH,Clay,32,Challenger,2024-05-20,299,207608,1,NaN,...,<NA>,<NA>,5,5,<NA>,<NA>,<NA>,2.0,325.0,325.0
295046,2024-8266,Augsburg CH,Clay,32,Challenger,2024-05-20,300,207608,1,NaN,...,<NA>,<NA>,6,5,3,<NA>,<NA>,3.0,476.0,447.0

In [5]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points',
       'retirement', 'W1', 'W2', 'W3', 'W4', 'W5', 'L1', 'L2', 'L3', 'L4',
       'L5', 'n_set', 'l_min', 'w_min'],
      dtype='object')

In [22]:
df=df.loc[(~df.winner_rank.isna())&(~df.loser_rank.isna()),]
df=df.loc[(df.winner_rank<101)|(df.loser_rank <101),]
df=df.loc[df.tourney_level.isin(['A','Grand Slam','Masters','F']),]

In [24]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,W4,W5,L1,L2,L3,L4,L5,n_set,l_min,w_min
0,1992-301,Auckland,Hard,32,A,1992-01-06,1,101797,NaN,NaN,...,<NA>,<NA>,6,6,<NA>,<NA>,<NA>,2.0,NaN,0.0
1,1992-301,Auckland,Hard,32,A,1992-01-06,2,101205,NaN,NaN,...,<NA>,<NA>,3,4,<NA>,<NA>,<NA>,2.0,NaN,0.0
2,1992-301,Auckland,Hard,32,A,1992-01-06,3,101368,NaN,NaN,...,<NA>,<NA>,4,2,<NA>,<NA>,<NA>,2.0,NaN,0.0
3,1992-301,Auckland,Hard,32,A,1992-01-06,4,100772,NaN,WC,...,<NA>,<NA>,6,5,<NA>,<NA>,<NA>,2.0,NaN,0.0
4,1992-301,Auckland,Hard,32,A,1992-01-06,5,101532,4.0,NaN,...,<NA>,<NA>,4,6,3,<NA>,<NA>,3.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294993,2024-7694,Lyon,Clay,32,A,2024-05-20,296,209260,NaN,NaN,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.0,311.0,237.0
294994,2024-7694,Lyon,Clay,32,A,2024-05-20,297,144869,6,NaN,...,<NA>,<NA>,4,1,<NA>,<NA>,<NA>,2.0,278.0,259.0
294995,2024-7694,Lyon,Clay,32,A,2024-05-20,298,208659,NaN,WC,...,<NA>,<NA>,4,5,<NA>,<NA>,<NA>,2.0,260.0,197.0
294996,2024-7694,Lyon,Clay,32,A,2024-05-20,299,144869,6,NaN,...,<NA>,<NA>,2,4,<NA>,<NA>,<NA>,2.0,237.0,359.0
294997,2024-7694,Lyon,Clay,32,A,2024-05-20,300,208659,NaN,WC,...,<NA>,<NA>,4,6,6,<NA>,<NA>,3.0,449.0,274.0

In [ ]:
while ((df %>% group_by(player)%>%filter(n()<3)%>%dim)[1]>0) {
  df <- df %>% group_by(player) %>% filter(n()>2)
  df <- df %>% group_by(opponent) %>% filter(n()>2)
}